{% extends layout('checkout') %}

{% block content %}
    <section id="checkout">

        <h2>Checkout</h2>

        <br><br>

        {{ form('checkout.customer')
        .successMessage(false)
        .redirect('checkout/shipping').get()|raw }}

    </section>
{% endblock %}
