{% extends layout('checkout') %}

{% block content %}
    <section id="checkout">

        <h2>Checkout [billing]</h2>

        <br><br>

        {{ form('checkout.billing')
        .entry(checkout.order_id)
        .successMessage(false)
        .redirect('checkout/complete')|raw }}

    </section>
{% endblock %}
