{% extends layout('checkout') %}

{% block content %}
    <section id="checkout">

        <h2>Checkout [shipping]</h2>

        <br><br>

        {{ form('checkout.shipping')
        .entry(checkout.order_id)
        .successMessage(false)
        .redirect('checkout/billing')|raw }}

    </section>
{% endblock %}
